<% if(campground){ %>
<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item acive">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=campground.image%>">
                <div class=caption-full>
                    <h4 class="pull-right"><%=campground.price%>$/night</h4>
                    <h2><a href=""><%=campground.title%></a></h2>
                    <p> <%=campground.description%> </p>
                    <p>Submitted by <em><%=campground.author.username%></em></p>
                     <%if(currentUser&&campground.author.id.equals(currentUser._id)){%>
                    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger pull-right">Delete</button>
                    </form>
                    <a href="/campgrounds/<%=campground._id%>/edit" class="btn btn-default btn-primary">Edit</a>    
                     <% } %>
                   
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add New comment</a>
                </div>
                <hr>
                <%campground.comments.forEach(function(comment){%>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%=comment.author.username%></strong>
                        <span class="pull-right">
                            <%=moment(moment(comment.createdAt).format( 'YYYYMMDD'), "YYYYMMDD").fromNow()%>
                        </span>
                        <p>
                            <%=comment.text%> 
                        </p>  
                        <%if(currentUser&&comment.author.id.equals(currentUser._id)){%>
                    <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger pull-right">Delete</button>
                    </form>
                        <a href="/campgrounds/<%=campground.id%>/comments/<%=comment._id%>/edit" class="btn btn-info">Edit</a>
                        <% } %>
                    </div>
                </div>
                
                <% })%>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>

<% }else{%>
<h1>campground not found</h1>
 <% }%>